main{
    img {
        width: 220px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        h2,
        h3 { display: inline-block; margin: 0; }
        
        width: 100%;
        margin-right: -230px;
        padding-right: 130px;
        
        display: inline-block;
        vertical-align: middle;
        
        box-sizing: border-box;
    }
    
}
