
<section *ngIf="word$ | async as word" style="text-align: center;"> 
    <button mat-raised-button color="primary" style="width: 200px; margin-top: 1rem;" (click)="clickButton()" #showWordByWord [disabled]="isDisabledClick">
        Mostra ({{ word.length - guess.length }} palavras)
    </button>
    
    <div style="margin-top: 1rem;" *ngIf="(word.payload) as palavra">
        Found word: <h3 style="text-transform:uppercase; letter-spacing: 3px;">{{ palavra.s }}</h3>
    </div>
    <div>
        ... it is <h3 style="text-transform:uppercase; letter-spacing: 3px;">{{ guess }}</h3>
    </div>

    <button mat-raised-button color="warn" style="width: 120px; margin-top: 1rem;" (click)=initialize(); [disabled]="isDisabledNewWord">Reinicializar!</button>
</section>

<!--
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<button mat-fab>Basic</button>
<button mat-fab color="primary">Primary</button>
<button mat-fab color="accent">Accent</button>
<button mat-fab color="warn">Warn</button>
<button mat-fab disabled>Disabled</button>
<button mat-fab><mat-icon>favorite</mat-icon></button>
<a mat-fab routerLink=".">Link</a>
-->

<p>&nbsp;</p>

<ng-container *ngIf="data$ | async as data; else loading">
    <div *ngFor="let article of data.articles">
        <main>
            <a href="{{ article.url }}" target="_blank">
                <img src="{{ article.urlToImage }}" />
            </a>
            <span>
                <h2>{{ article.author }}</h2> - <h3>{{ article.title }}</h3>
                <span>{{ article.description }} <a href="{{ article.url }}" target="_blank">Read more.</a></span>
            </span>
        </main>
        <p>&nbsp;</p>
    </div>
</ng-container>
  
<ng-template #loading>
    <div>loading...</div>
</ng-template>

